site_name: SmartPal Instructor Guide
site_url: https://www.smartpal.org/
theme:
  name: material
  custom_dir: docs/css  
  features:
    # - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  favicon: images/favicon.png
  # logo: images/logo-with-text-long-300.jpg
extra_css:
  - css/extra.css

plugins:
  # - social
  - search

# nav:
#   - Home: index.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - attr_list


copyright: |
  &copy; 2024 De Liu